* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background-color: #fff;
    width: 350px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.tabs {
    display: flex;
    background-color: #007bff;
}

.tab-button {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    color: #fff;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.tab-button.active {
    background-color: #0056b3;
}

.form-container {
    padding: 20px;
}

.form-hidden {
    display: none;
    flex-direction: column;
}

form.active {
    display: flex;
}

label {
    margin-bottom: 5px;
    display: block;
    text-align: right;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Home page container layout */
.home-container {
    max-width: 800px;
    margin: 40px auto;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Welcome message format */
.home-container h1 {
    margin-bottom: 20px;
}

/* Test list format */
.quiz-list h2 {
    margin-bottom: 10px;
}

.quiz-item {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-item:hover {
    background-color: #f0f0f0;
}




.quiz-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 90%;
}

.quiz-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.question {
    margin-bottom: 20px;
}

.question p {
    font-weight: bold;
}

.question div {
    margin-left: 20px;
    margin-bottom: 5px;
}

#quizResult {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}


/* Table styling */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2c3e50;
    color: #fff;
    font-weight: normal;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}